body {

    font-family: Arial, sans-serif;
    background: #f3f4f6;
    min-height: 100vh; /* Asegura que el contenido ocupe toda la altura de la pantalla */
}
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: salmon;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;

}

.topnav h1 {
    font-style: italic;
    font-size: 24px;
    margin: 10px 0;
    color: white;
}
.topnav a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.topnav .modal-trigger {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.topnav .modal-trigger:hover {
    background-color: #b72323;
    color: white;
}

.topnav a:hover {
    background-color: #ee2929;
    color: white;
}

.topnav a.active {
    background-color: #b72323;
    color: white;
}
.search-tab{
    margin-top: 10%;
    margin-left: 2%;
    display: flex;
    
}
.search-tab input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.search-tab input[type="radio"] {
    display: none; /* Oculta los radio buttons */
}
.checkbox-label {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    user-select: none;
}
input[type="radio"]:checked + .checkbox-label {
    background-color: #007BFF;
    border-color: #0056b3;
    color: white;
}

.checkbox-label:hover {
    background-color: #a9ebff;
    border-color: #bbb;
}
.list{
    margin-top: 3%;
    margin-left: 18%;
    margin-right: 18%;

}
.event{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    
    
}
.event p{
    margin: 0 35% 0 0;
    
}
/* Modal */
.modal-checkbox {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.close-modal {
    display: inline-block;
    margin-top: 20px;
    color: white;
    background: salmon;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.close-modal:hover {
    background: #b72323;
}

/* Mostrar el modal cuando el checkbox está activo */
.modal-checkbox:checked + .modal {
    display: flex;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: salmon;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
